#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}

.card-container {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: top;
margin: 20px;
padding: 16px;
border: 2px solid black;
width: 1000px;

}

.listado {
  width: 1200px;
}

.info-container {
text-align: left;

}

.card-image {
  width: 500px;
  height: 350px;
  margin: 20px;

}

.labels {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -20px;
}

#premium, #all-inclusive {
  background-color: rgba(54,107,202,255);
  padding: 4px;
  border-radius: 5px;
  color: white;
  margin-right: 10px;

}

#deal {
  background-color: rgba(119,188,119,255);
  padding: 4px;
  border-radius: 5px;
  color: black;
}

.btn-delete {
  background-color: rgba(182,182,182,255);
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 103px;
  width: 350px;
}

.btn-fav {
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.fav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: top;
  margin: 20px;
  padding: 16px;
  border: 2px solid black;
  width: 300px;

}

.fav-card-image {
  width: 300px;
  height: 150px;
}